.layout {
  height: 100vh;

  &-content {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
  }

  &-route-content {
    flex: 1 1;
    min-width: 0;
  }
}